<p>
  kupno-sprzedaz works!


    kupno-sprzedaz-new-zakup

    <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['../kupno-sprzedaz-new-zakup']" >
        <span>Dodaj ofertę zakupu</span>
    </button>

    <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['../kupno-sprzedaz-new-sprzedaz']" >
        <span>Dodaj ofertę sprzedazy</span>
    </button>
    <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['../sprzedaz-oferty']" >
        <span>Moje oferty sprzedaży</span>
    </button>
    <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['../kupno-oferty']" >
        <span>Moje oferty kupna</span>
    </button>
</p>
